$white: #fcfeff;
$grey-llll: #e4e7e8;
$grey-lll: #ccd0d1;
$grey-ll: #b3b8ba;
$grey-l: #9ba1a3;
$grey-m: #838a8c; 
$grey-d: #6c7173;
$grey-dd: #55585b;
$grey-ddd: #3d3f42;
$black: #262629;

$primary-lllll: #ffece6;
$primary-llll: #ffd9d0;
$primary-lll: #ffc7ba;
$primary-ll: #ffb4a4;
$primary-l: #ffa28e;
$primary-m: #ff8f78;
$primary-d: #cd6f66;
$primary-dd: #9b4f54;
$primary-ddd: #682f42;
$primary-dddd: #360f30;

$secondary-lllll: #e5edf9;
$secondary-llll: #cfd5ee;
$secondary-lll: #b9bde4;
$secondary-ll: #a3a6d9;
$secondary-l: #8d8ecf;
$secondary-m: #7776c4;
$secondary-d: #605e9f;
$secondary-dd: #494779;
$secondary-ddd: #312f54;
$secondary-dddd: #1a172e;

$tertiary-lllll: #ffefcf;
$tertiary-llll: #ffe2b3;
$tertiary-lll: #ffd496;
$tertiary-ll: #ffc77a;
$tertiary-l: #ffb95d;
$tertiary-m: #ffac41;
$tertiary-d: #d18535;
$tertiary-dd: #a25f29;
$tertiary-ddd: #74381d;
$tertiary-dddd: #451111;

$success-lllll: #dce4e8;
$success-llll: #ecf4c6;
$success-lll: #dbe999;
$success-ll: #cbde74;
$success-l: #bcd34f;
$success-m: #acc82a;
$success-d: #879e21;
$success-dd: #627418;
$success-ddd: #3d490f;
$success-dddd: #181f06;

$alert-lllll: #ffefcf;
$alert-llll: #ffe2b3;
$alert-lll: #ffd496;
$alert-ll: #ffc77a;
$alert-l: #ffb95d;
$alert-m: #ffac41;
$alert-d: #d18535;
$alert-dd: #a25f29;
$alert-ddd: #74381d;
$alert-dddd: #451111;

$warning-lllll: #fff0f0;
$warning-llll: #f1cbcb;
$warning-lll: #e3a6a6;
$warning-ll: #d48181;
$warning-l: #c65c5c;
$warning-m: #b83737;
$warning-d: #962d2d;
$warning-dd: #742323;
$warning-ddd: #521818;
$warning-dddd: #300e0e;