.date-time-range {
  &__wrap {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0 20px;
    margin: 0 0 10px;

    .input__wrap,
    .select__wrap {
      width: calc(50% - 10px);
    }

    .input__error,
    .input__help-text {
      width: 100%;
    }

    &--disabled {
      .date-time-range {
        &__label {
          color: $grey-ll;
        }
      }
    }

    &--no-margin {
      gap: 0;
      margin: 0;

      .input__wrap,
      .select__wrap {
        width: calc(50% - 2px);
      }
    }
  }

  &__label {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px 0 0;
    margin: 0;
    font: normal 400 14px/20px 'Open Sans', sans-serif;
    color: $grey-d;
  }
}