.multiple-options {
  &__wrap {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 20px;
    margin: 0 0 20px;
    display: block;
    border: 1px solid $grey-lll;
    border-radius: 16px;
    .input {
      &__help {
        top: 20px;
        right: 20px;
        &-text--show:last-child {
          padding-bottom: 10px;
        }
      }
      &__error {
        margin-bottom: 10px;
      }
    }
    &--disabled {
      border-color: $grey-llll;
      .multiple-options {
        &__label {
          color: $grey-ll;
        }
      }
    }
  }
  &__label {
    display: block;
    box-sizing: border-box;
    width: 100%;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 20px;
    padding: 0;
    color: $grey-dd;
  }
  &__option {
    display: block;
    width: 100%;
    margin: 0 0 5px;
  }
}