.workflow {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 10px 0;
  margin: 0 0 20px;
  border: 1px solid $grey-lll;
  border-radius: 30px;
  color: $grey-lll;
  &__step {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 10px 10px;
  }
  &__icon {
    box-sizing: border-box;
    display: block;
    font-size: 30px;
    line-height: 1em;
    margin: 0 0 5px;
  }
  &__title {
    box-sizing: border-box;
    display: block;
    font-size: 13px;
    line-height: 1em;
  }
}